 @media (max-width: 768px) {
    #menuH{
        display: block;
        z-index: 3;
    }
    header{
        height: 350px;
    }
    .cimek{
        text-align: right;
        width: 30%;
    }
    .szovegek{
        width: 70%;
    }
    .tortenet{
        justify-content: space-between;
    }
    .menu p{
        width: 90%;
    }
    .gombok{
        width: 80%;
        gap: 5%;
    }
    .kepek{
        grid-gap: 4%;
        padding: 0.5%;
        width: 90vw;
        height: 90vw;
        margin-bottom: 30px;
        font-size: 110%;
    }
    .footer{
        padding-top: 5px;
        width: 90%;
    }
    nav ul{
        background-color: rgba(0, 0, 0, 0.486);
    }
    nav ul li{
        margin-top: 10px;
        margin-right: 10px;
    }
    nav ul li:last-child{
        margin-bottom: 10px;
    }
    nav ul li:last-child{
        margin-bottom: 10px;
    }
    #nav span{
        display: none;
    }
    .footer .cim{
        font-size: 100%;
    }
    #nav{
        flex-direction: column;
        max-height: 0px;
    }
 }
