@media (max-width: 576px) {
    .tortenet{
        flex-direction: column;
    }
    .cimek{
        text-align: right;
        width: 100%;
    }
    .szovegek{
        width: 100%;
    }
    .gombok{
        flex-direction: column;
        width: 100%;
        gap: 50px;
    }
    .menu button{
        margin-inline: auto;
    }
    .kepek{
        display: block;
        height: auto;
    }
}