html, body{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(img/pizzakep.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    color: white;
    padding: 2%;
    display: flex;
    justify-content: space-between
}
header h1{
    margin: 0;
}
nav ul li{
    text-decoration: none;
    list-style-type: none;
}
nav ul{
    display: flex;
    gap: 10px;
}